* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* Button */

.btn-blue {
  background-color: #1d4ed8FF;;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.btn-blue:hover {
  background-color: #1d4ed8FF;
}

.btn-outline {
  background-color: transparent;
  color: #111827;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #d1d5db;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}



.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 40px;
}

/* Navbar */
  
header {
  border-bottom: 1px solid #f3f4f6;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 800;
  font-size: 20px;
  color: #0f172a;
  letter-spacing: -0.5px;
}

.logo-icon {
  width: 24px;
  height: 24px;
  background-color: #0f172a;
  border-radius: 4px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: #4b5563;
  font-size: 15px;
  font-weight: 500;
}

/* Hero Section */

.hero-section {
  position: relative;
  background: linear-gradient(#000000BF, #000000D9), 
              url('./image/banner.jpg');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  color: white;
}

.hero-content h1 {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 20px;
  letter-spacing: -1px;
}

.hero-content h1 em {
  font-style: italic;
  font-weight: 800;
}

.hero-content p {
  font-size: 18px;
  color: #d1d5db;
  max-width: 700px;
  margin: 0 auto 40px auto;
  line-height: 1.6;
}

/* Speakers Section */

.speakers-section {
  padding: 80px 0;
}

.speakers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.speaker-card {
  background: white;
  border: 1px solid #e5e7eb;
  border-radius: 12px;
  overflow: hidden; 
}

.speaker-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

.speaker-info {
  padding: 24px;
}

.speaker-tag {
  color: #2563eb;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 8px;
  display: block;
}

.speaker-info h3 {
  font-size: 22px;
  color: #111827;
  margin-bottom: 6px;
}

.speaker-info p {
  color: #6b7280;
  font-size: 15px;
  line-height: 1.5;
}


