* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* Button */

.btn-blue {
  background-color: #1d4ed8FF;;
  color: white;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
}

.btn-blue:hover {
  background-color: #1d4ed8FF;
}

.btn-outline {
  background-color: transparent;
  color: #111827;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #d1d5db;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}



.section-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 40px;
}

/* Navbar */
  
header {
  border-bottom: 1px solid #f3f4f6;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 800;
  font-size: 20px;
  color: #0f172a;
  letter-spacing: -0.5px;
}

.logo-icon {
  width: 24px;
  height: 24px;
  background-color: #0f172a;
  border-radius: 4px;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: #4b5563;
  font-size: 15px;
  font-weight: 500;
}



